
/*Gestions des différentes tailles d'écrans */

/* lg */ 
@media (min-width: 1200px) {
  
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

  .navbar-right {
    padding: 0 25px 0 0;
  }

  .navbar-right li a {
    padding: 35px 10px;
  }

  .fixed-menu .container {
    width: 100%;
  }

  .fixed-menu .navbar-right {
    padding-right: 30px;
  }

  .fixed-menu .navbar-right li a {
    padding: 20px;
  }

  #event .col-md-9 {
    z-index: 10;
  }


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand {
    width: 250px;
    font-size:14px;
   
  }
  
  .navbar-brand p {
      margin:0;
      padding:0;
  }

  .navbar-right {
    padding: 0;
  }

  .navbar-right li a {
    padding:30px 5px;
    font-size: 15px;
  }

  .fixed-menu .container {
    width: 100%;
  }
  
 }

  .fixed-menu .navbar-right {
    padding-right: 15px;
  }

  .fixed-menu .navbar-right li a {
    padding: 20px 13px;
    font-size: 17px;
  }
 
 
  .sponsor-control-left {
    right:8%;
  }

  .sponsor-control-right {
    right: 5%;
  }

  .light {
    display: none;
  }

  .watch {
    left: -8%
  }


  .hist {
    left: -5%;
  }
 #main-slider img {height: 670px;}/*taille section img accueil*/
 
 #Result {
    margin-top: 8%;} /*marge du haut tableau resultat*/

#mycalendar {
    top: 32px;
    margin-top: 10%;/*ajustement calendrier*/
}
.img_contact {
      margin-left: -350px;}/*marge de l'image*/

#contact address {
    font-size: 15px;}/*police contact*/

/*taille des sections*/
#equipe {height: 680px;}

#calendarResults {height: 680px;}

#galerie {height: 680px;}

#historique {height: 680px;}

#sponsor {height: 680px;}

.contact-section {height: 680px;}




/*tablette portait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.fixed-menu .navbar-right li a {
    padding: 20px 13px;
    font-size: 13px;     
  }
  
  .navbar-brand p {
    font-size: 15px;}

.fixed-menu .navbar-brand {
   width: 140px;
}
  
 .img_contact {
  margin-left: -190px;
}
.img_contact { /*dimension taille img*/
    margin-left: -190px;
    width: 85%;
    height: 200px;}

#contact address {
    font-size: 14px;
    margin: 7px;
}
#adress, #contact{
    margin:7px;
}
#Result {
    margin-top: 30%;}

#mycalendar {
    top: 32px;
    margin-top: 32%;
  }
  #historique-feed .item {
    text-align: center;
    margin-top: 20%;}
  
  
  /*taille des sections*/
#equipe {height: 1024px;}

#calendarResults {height: 1024px;}

#galerie {height: 1024px;}

#historique {height: 1024px;}

#sponsor {height: 1024px;}

.contact-section {height: 1024px;}

#main-slider img {
    height: 1024px;}
}
      
 

/* xs */
@media (max-width: 767px) {

    .main-nav .container {
        display: none;
    }

    #equipe, #calendarResults, #historique, #sponsor, #galerie {
        height:auto;
    }

    #Result {
        margin-top:50px;
    }

    #contact-section .btn-primary {
        padding:10px 10px 10px 10px;
    }

    .main-nav {
        height: 10%;

    }

    .navbar-right{
        height: 10%;
    }

    .fixed-menu .container {
        display: block;
    }

    .fixed-menu .container {
        width: 100%;
    }

    .navbar-brand {
        width: inherit;
    }

    .navbar-brand p {
        padding-top:7%;
        padding-left: 3%; 
    }

    .fixed-menu .navbar-right li a {
        padding: 7px 25px;
    }

    
    #home {
        margin-top: 7%;
    }

    #main-slider {

    }

    #main-slider .carousel-caption {

        bottom: 17%;
        padding: 10px;
        line-height: 0;
    }

    #main-slider .carousel-caption h2 {
        font-size: 20px;
        margin-top: 3px;
    }

    #main-slider .carousel-caption h4 {
        font-size: 16px;
    }

    #main-slider .carousel-caption a {
        font-size: 14px;
        color: #2da1c5;
    }

    /*event */
    .single-event {
        margin-bottom: 40px;
    }


    #event h2, 
    #calendarResults h2, 
    #sponsor h2 {
        font-size: 30px;
    }
    
    #even-control-left, .even-control-left, .sponsor-control-left {
        padding-right:70px;
    }

    .historique-control-left, 
    .historique-control-right {
        top: inherit;
        bottom: -40px;
    }

    .historique-control-left {
        left: 46%;
        margin-bottom: 20px;
    }

    .historique-control-right {
        right: 46%;
        margin-bottom: 20px;
    }
    
  

    #sponsor {
        background-position: right 0 bottom 0;
    }

    .sponsor-control-left, 
    .sponsor-control-right {
        top:0;
    }

    .sponsor-control-left {
        right: 10%;
    }

    .sponsor-control-right {
        right: 5%;
    }

    #sponsor .item ul li {
        width: 30%;
        margin-right:3%
    }

    #sponsor .item ul li:last-child {
        margin-right: 0;
    }


    #footer {
        font-size: 16px;
    }

    .watch, .hist, .light {
        display: none;
    }

    .contact-section {
        background-position: left 0 bottom 0;
        background-size: cover;
    }

}

/* XS Portrait */
@media (max-width: 479px) {

    .main-nav .container {
        display: none;
    }

    .fixed-menu .container {
        display: block;
    }

    .fixed-menu .navbar-right li a {
        padding: 10px 25px;
    }

    .fixed-menu .navbar-brand {
        height:auto;
        width:auto;    /* bug du menu en responsive */
        background-color: #FC974A;
    }

    .navbar-header {
        background-color:#FC974A;
    }

    /* Home */

    #home {
        margin-top: 8%;
    }

    .fixed-menu .container {
        width: 100%;
    }

    .navbar-brand {
        width: inherit;
    }


    #main-slider .carousel-caption {
        bottom: 17%;
        padding: 10px;
        line-height: 0;
    }

    #main-slider .carousel-caption h2 {
        font-size: 18px;
        margin-top: 3px;
    }

    #main-slider .carousel-caption h4 {
        font-size: 14px;
    }

    #main-slider .carousel-caption a {
        font-size: 12px;
        color: #2da1c5;
    }

    .carousel-indicators {
        bottom: 0;
    }

    /*event */
    .single-event {
        margin-bottom: 40px;
    }

    .about-content {
        width: 100%;    
        padding: 70px 30px 110px;
    }

    #event h2, 
    #calendarResults h2, 
    #sponsor h2 {
        font-size: 30px;
    }

    #equipe {
        height:auto;
    }

    #calendarResults {
        height:auto;
    }

    #Result {
        margin-top:50px;
    }

    #galerie{
        height:auto;
    }

    #historique-feed .item a, 
    #historique-feed .item p {
        font-size: 15px;
    }

    .historique-control-left, 
    .historique-control-right {
        top: inherit;
        bottom: -40px;
    }

    .historique-control-left {
        left: 46%;
    }

    .historique-control-right {
        right: 46%;
    }

    #sponsor {
        height:auto;
    }

    .sponsor-control-left, 
    .sponsor-control-right {
        top: 0;
    }

    .sponsor-control-left {
        right: 10%;
    }

    .sponsor-control-right {
        right: 5%;
    }

    #sponsor .item ul li {
        width: 45%;
        margin-right: 5%
    }

    #sponsor .item ul li:last-child {
        margin-right: 0;
    }
    #contact .container {
        padding-top: 0;
    }

    .contact-section {
        padding-top: 50px;
    }

    #contact-section .btn-primary {
        margin:0;
        padding:10px 10px 10px 10px;
    }

    #map {
        height:400px;   /* map responsive */
    }

    #footer {
        font-size: 14px;
    }

    #footer .container {
        padding : 0;
    }

    .text-center {
        text-align: center;
    }

    .watch, .hist, .light{
        display: none;
    }

    .contact-section {
        background-position: left 0 bottom 0;
        background-size: cover;
    }

}


